<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/articles.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">    
    </head>
<body>


<div id="header">Articles</div>

{{#each amount}}
    {{#each ../articles}}
        <div class="art_container">
           <table>
            <tr><th  class="titlecont" colspan="2">{{title articles ../this}}</th></tr>
                <tr>
                    <td>
                        <div class="imagecont">
                            <a href="{{image articles ../this}}">
                                <img class="image" href="{{image articles ../this}}" src="{{image articles ../this}}" alt=""/>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="infocont">
                            <a class="link" href="{{link articles ../this}}">
                                <p class="desc">{{desc articles ../this}}</p>
                                <h3 class="author">{{author articles ../this}} {{date articles ../this}}</h3>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    {{/each}}
{{/each}}


{{>footer}}
</body>
</html>